


html{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    width: 75%;
    max-width: 960px;
    padding: 0;
    /*background-color: #f1f1f1;*/
    font-family:'Open Sans','Hiragino Sans GB','冬青黑体简体中文 W3','Microsoft Yahei UI','Microsoft Yahei',sans-serif;
    font-size:16px;
    color: #333333;
}

#wrapper{

}

#yoku-header{
    display: block;
    margin-top: 30px;
    width: 600px;
    height: 100px;
    background-image: url('./assets/yoku_logo.png');
    background-repeat: no-repeat;

    text-indent: -9999px;
    overflow: hidden;

    transition:none;
    -moz-transition:none;
    -webkit-transition:none;
    -o-transition:none;
}

#yoku-header:hover{
    opacity: 0.8;
    background-position: 0 -100px;


}

pre{
    background-color: white;
    font-family: 'Inconsolata','Hiragino Sans GB','冬青黑体简体中文 W3','Microsoft Yahei UI','Microsoft Yahei',sans-serif;
    padding: 1em;
    margin: 0 2em 0 2em;
    border-left: 5px solid #b3d465;
    /*background-color: #f1f1f1;*/

}

code{
    color: #3399ff;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

code:before{
    font-family: 'FontAwesome';
    content: "\f121";
    display: inline-block;
    padding-right: 0.2em; 
    color: #3399ff;
}

a{
    color: #3399ff;

    transition:all 0.25s;
    -moz-transition:all 0.25s; 
    -webkit-transition:all 0.25s; 
    -o-transition:all 0.25s; 
}

a:hover{
    color: #ff9900;
}

footer{
    border-top: 1px solid #333333;
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 0 0 0;
    margin: 0;

}

footer>a{
    color: #333333;
}

h1,h2,h3,h4,h5,h6 {
    border-bottom: 1px solid #b3d465;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before{
    font-family: 'FontAwesome';
    content: "\f105";
    display: inline-block;
    padding-right: 0.2em; 
    color: #b3d465;
}